body {
    background-image: url('img/wallpaper.png');
    background-size: 100vw;
    background-repeat: no-repeat; /* Optional */
    background-position: top; /* Optional */
    background-color: #0e1c31;
}
nav{
    height: 10vh;
}
.card-body{
    background-color: rgba(255, 255, 255, 0.5); /* White background with 50% transparency */
}
#welkom-card{
    margin-top: 15vh;
    margin-left: 15vw;
}
.over{
    margin-top: 15vh;
    margin-left: 35vw;
}