body {
    background-image: url('img/wallpaper.png');
    background-size: 100vw;
    background-repeat: no-repeat; /* Optional */
    background-position: top; /* Optional */
    background-color: #0e1c31;
}
nav{
    height: 10vh;
}
.card-body{
    background-color: rgba(255, 255, 255, 0.5); /* White background with 50% transparency */
}
.welkom-card1{
    margin: 15vh 15vw;
    max-width: 30rem;
}
.over{
    margin-top: 15vh;
}
@media screen and(max-width: 1024px){
    .welkom-card1{
        font-size: 0.2rem;
        margin: 15vh auto;
        max-width: 30rem;
    }
}